
#app_container
  %h2 Temperature Converter
  %p Click on the <i>Fahrenheit</i> or <i>Centigrade</i><br/> display boxes to select which temperature  <br/>scale you want to use for input. See <br/> the conversion in the other box.
  .upper
    Farenheit
    .data-display
      .f-active *
      #fahrenheit{class: 'disp'}
        &nbsp;
      %br
  .lower
    Centigrade
    .data-display
      .c-active *
      #centigrade{class: 'disp'}
        &nbsp;
      %br
  #keypad
    %table
      %tr
        %td
          = raw to_buttons(%w(1 2 3),'wide-button')
      %tr
        %td
          = raw to_buttons(%w(4 5 6), 'wide-button')
      %tr
        %td
          = raw to_buttons(%w(7 8 9),'wide-button')
      %tr
        %td
          = raw to_buttons(%w(c 0 . -), 'narrow-button')
